<div class="card">
    <h5 class="card-header">{{title}}</h5>
    <div class="card-body">
        <h5 class="card-title">Dados da Inscrição</h5>
        <form action="/add" method="post">
            <div class="mb-3">
                <label for="age" class="form-label">Idade:</label>
                <input type="text" class="form-control" id="age" name="age">
            </div>
            <div class="mb-3">
                <label for="sex" class="form-label">Sexo:</label>
                <input type="text" class="form-control" id="sex" name="sex">
            </div>
            <div class="mb-3">
                <label for="cp" class="form-label">CP:</label>
                <input type="text" class="form-control" id="cp" name="cp">
            </div>
            <div class="mb-3">
                <label for="trestbps" class="form-label">Trestbps:</label>
                <input type="text" class="form-control" id="trestbps" name="trestbps">
            </div>
            <button type="submit" class="btn btn-success">Adicionar</button>
    </div>
    </form>
</div>
</div>